
.bg-primary-color { background-color: #9F6F78 }
.bg-ligth-color { background-color: #F3EDEE }
.bg-gray-color { background-color: #383737 }
.bg-gradiente { background-image: linear-gradient(#FFFFFF #9F6F78) }

.text-color-primary { color: #9F6F78 }
.text-color-ligth { color: #F3EDEE }
.text-color-dark { color: #4D3539 }
.text-color-gray { color: #383737 }