.cointainermae{
    display:flex;
}


/* Link de navegação com estilo do projeo */
.link-primary{
    text-decoration: none;
    color: black;
}
.link-primary:hover{
    text-decoration: none;
    color: #9f6f78;
}


.barraslaterais{
     /* position: fixed;  */
    /* width: 20vw; */
    display:flex;
    z-index: 1;
}
.menu-icons{
    width: 2.5vw ;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;

}

    .logo-g{
        margin:0;
        padding-top: 10vh;
        width: 90%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .logo-g a img{
        text-align: center;
        width: 100%;
    }
    .nav-icon{
        margin:0;
        padding-top: 10vh;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .nav-icon ul {
        list-style: none;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

    }
    .nav-icon ul li {
        margin-top:0;
        padding-top:10%;
        margin: 30% 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .nav-icon ul li a {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-icon ul li a img {
        width: 150%;
    }
    
#side-bar{
    width: 10vw;
    /* left: 2.5%; */
    display:flex;
    flex-direction: column;
    /* transition: all 500ms linear; */
    align-items: center;
    justify-content: flex-start;  
}
    .logo-growing {
        margin:0;
        padding-top: 10vh;
        width: 80%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .logo-growing a img{
        text-align: center;
        width: 100%;

    }
    .nav-text{
        height: 70vh;
        padding-top: 10vh;
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-text ul{
        list-style: none;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start ;
    }

    .nav-text ul li{
        margin-top:0;
        margin: 14% 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-text ul li a{
        margin:0;
        padding:0;
        text-decoration: none;
        color: white;
        font-weight: bold;
        /* display: block; */
        font-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .nav-text ul li a:hover{
        text-decoration: none;
        color: #383737;
        font-weight: bold;
        /* display: block; */
        width: 100%;
    }
.barrasuperior{
    position: fixed;
    z-index: 2;
    margin-left: 12.5%;
}

#main{
    width: 100%;
    height: auto;
    /* left: 11.5%;  */
    transition: all 501ms linear;
    float:left;
    margin : 0;
    padding: 0;
    border: 0;
}

#main.active{
    width: 97.5%;
    left: 2.5%;

}
.shadow-1{
    padding: 10px;
    box-shadow: 3px 8px 4px #888888;
}
.header-corpo{
    width: 87.5%;
    float: left;
    /* margin-left: 11.5%; */
    padding: 0;
}

.nav-header{
    position: relative;
    background-color: #FFFFFF;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.search-header{
    
    width: 500px;
    border: solid 2px #9F6F78;
    border-radius: 7px;
    
}

.search-header button {
    border: none;
    background-color: transparent;
    margin-right: 3px;
    padding-right: 3px;
    
}

.search-header input{
    border: none;
    width: 90%;
    margin: 2px;
}

#icon-search{
    width: 28px;
    height: 26px;
}

.nav-header-menu{
     width: 100vw; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

 .nav-header-menu ul{
    width: 100%; 
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    align-items: center;
} 

.nav-header-menu ul li {
    padding-left: 4vh;
    display: inline;
    display:flex;
    align-items: center;
}

.nav-header-menu ul li a img{
    width: 2.8vh;
    /* height: 22px; */
}


/* feedgeralporfolio PHDF */

.portfolioph{
    width: 100%; 
    margin-top:10vh;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    width:100%;
    align-items: space-around;
    justify-content: center;
}
.row .col-3.portfolios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
}
.searching:focus {
    outline-style:none ;
}

.buttonPH{
    padding: 0.1vh;
    border-color:black;
    margin: 2vh;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    justify-content: space-around;
    font-size: 2.5vh;
}
.buttonPH:focus{
    border-color: #9F6F78;
    margin: 2vh;
    padding: 0.1vh;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px #9F6F78;
}
.buttonPH:hover{
    border-color: #9F6F78;
    margin: 2vh;
    padding: 0.1vh;
    box-sizing: border-box;
}

.carrosel {
    margin-left: 0px;
}
.carousel-inner .carousel-item .row{
        display:flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%;
}
#carouselExampleFade{
    width: 100%;
}
.carousel-control-prev-icon:hover{
    background-color: #9F6F7s8;
}
.carousel-control-next:hover{
    background-color: #9F6F7s8;
}
.col-sm-2{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 15vh; 
    width: 100%;
}
.cartaoCarrosel {
    width: 19rem;
    display: inline-flex;
    margin-top: 25px;
    margin-right: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.estiloColuna {
    background-color: #9F6F78; 
    margin-top: 18px;
    margin-left: 160px; 
}
.cartaoCarroselD {
    width: 25rem;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 60px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.fotoDepoimento {
    width: 50px; 
    border-radius: 100%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel-control-prev {
    /* padding: 0.1vh;
    margin: 2vh; */
    /* height: 60%;
    width: 60%; */
}
.carousel-control-next {
    /* right: 20vw; */
    top: 0vw;
    bottom:0vw;
}

*[role="barbearia"] {
    background-image: url(../image/categorias/barba/beard.svg);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 40%;
}
*[role="maquiagem"] {
    background-image: url(../image/categorias/maquiagem/makeup.svg);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 40%;
}
*[role="manicure"] {
    background-image: url(../image/categorias/manicure/manicure.svg);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 40%;
}
*[role="cabelo"] {
    background-image: url(../image/categorias/cabelo/hair.svg);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 40%;
}
*[role="depilacao"] {
    background-image: url(../image/categorias/depilacao/depilation.svg);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 40%;
}
*[role="massagem"] {
    background-image: url(../image/categorias/massagem/massagem.svg);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 40%;
}
*[role="sobrancelha"] {
    background-image: url(../image/categorias/sobrancelha/eyebrow.svg);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 40%;
}
*[role="limpezadepele"] {
    background-image: url(../image/categorias/limpezadepele/skincare.svg);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 40%;
}

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 2;
      }
    @include media-breakpoint-only(md) {
        column-count: 3;
      }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }